@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.header {
    min-width: 960px;
    background: #fff;
}

#logo {
    height: 85px;
    width: 960px;
    margin: 0 auto;
}

#logo a {
    width: 360px;
    height: 85px;
    overflow: hidden;
    float: left;
    font-size: 0;
    line-height: 0;
    color: #ed145b;
    text-decoration: none;
    background: url(../images/logo_new_v1.jpg) no-repeat top left;
}

#logo .logo-box {
    padding-top: 35px;
    float: right;
}

#logo .logo-box .top-link {
    width: 110px;
    height: 31px;
    overflow: hidden;
    margin-right: 24px;
    float: left;
}

#logo .logo-box .credit {
    background: url(../images/header_corn_new_v2.png) no-repeat 0 0;
}

#logo .logo-box .gild {
    width: 170px;
    background: url(../images/gild.png) no-repeat;
}

#logo .logo-box .lightning {
    background: 0 -64px url(../images/header_corn_new_v2.png) no-repeat;
}


/******中间部分******/

.sign {
    line-height: 1.5;
}

.sign .loginWrap {
    margin-top: 50px;
    height: 445px;
    margin-bottom: 50px;
    margin: 100px auto;
    width: 965px;
    line-height: 1.5;
}

.sign .loginWrap .loginImg {
    background: url(../images/loginPic.jpg) no-repeat;
    width: 960px;
    height: 370px;
    position: relative;
    top: -50px;
}

.sign .loginWrap .loginImg .sign-link {
    display: block;
    position: absolute;
    width: 420px;
    height: 370px;
}

.sign .loginWrap .loginImg .loginBord {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ededed;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    min-height: 400px;
    padding: 0 23px;
    width: 298px;
    color: #333;
    top: -11px;
    right: -5px;
}

.sign .loginWrap .loginImg .loginBord .loginTit {
    margin-bottom: 15px;
    width: 300px;
    height: 60px;
    line-height: 60px;
}

.sign .loginWrap .loginImg .loginBord .loginTit h1 {
    float: left;
    font-weight: 400;
    font-size: 20px;
    color: #e31256;
}

.sign .loginWrap .loginImg .loginBord .loginTit .tosign {
    color: #969696;
    float: right;
    font-size: 12px;
}

.sign .loginWrap .loginImg .loginBord .loginTit .tosign a {
    color: #ed145b;
    text-decoration: none;
}

.sign .loginWrap .loginImg .loginBord .radio-wrapper {
    height: 30px;
}

.sign .loginWrap .loginImg .loginBord .radio-wrapper span {
    display: block;
    padding-right: 30px;
    float: left;
    font: 400 13.3333px Arial;
}

.sign .loginWrap .loginImg .loginBord .radio-wrapper span input {
    vertical-align: middle;
}

.sign .loginWrap .loginImg .loginBord #login-dy .text-user {
    position: relative;
    margin-bottom: 26px;
    width: 300px;
    height: 44px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .text-user input {
    display: block;
    padding: 10px 8px 10px 38px;
    width: 252px;
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    line-height: 1.5;
    font-size: 14px;
    background: url(../images/sign.png) no-repeat 5px 0;
}

.sign .loginWrap .loginImg .loginBord #login-dy .text-user .focus-text {
    display: none;
    margin-top: 4px;
    color: #999;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
}

.sign .loginWrap .loginImg .loginBord #login-dy .text-user .invalid {
    width: 290px;
    height: 1.5em;
    font-size: 12px;
    margin-top: 4px;
    color: #999;
    display: none;
}

.sign .loginWrap .loginImg .loginBord #login-dy .text-user .invalid i {
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background: url(../images/sign0.png) 0 -100px no-repeat;
    position: absolute;
    left: 0px;
    top: 54px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .text-user .invalid .msg {
    margin-left: 18px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .pass {
    width: 300px;
    height: 44px;
    margin-bottom: 26px;
    margin-top: 10px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .pass input {
    width: 252px;
    padding-left: 38px;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px 10px 38px;
    line-height: 1.5;
    font-size: 14px;
    outline: 0;
    height: auto;
    background: url(../images/sign0.png) 5px -50px no-repeat;
}

.sign .loginWrap .loginImg .loginBord #login-dy .dy-pass .pass .focus-text {
    display: none;
    margin-top: 4px;
    color: #999;
    font-size: 12px;
    position: absolute;
}

.sign .loginWrap .loginImg .loginBord #login-dy .dy-pass .pass .invalid {
    width: 290px;
    float: left;
    height: 1.5em;
    font-size: 12px;
    margin-top: 4px;
    color: #999;
    display: none;
}

.sign .loginWrap .loginImg .loginBord #login-dy .dy-pass .pass .invalid i {
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background: url(../images/sign0.png) 0 -100px;
    position: absolute;
    left: 24px;
    top: 230px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .dy-pass .pass .invalid .msg {
    margin-left: 18px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .dy-pass .phonecode {
    width: 130px;
    font-size: 12px;
    background: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
    border: 1px solid #d9d9d9;
    text-decoration: none;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    line-height: 41px;
    height: 41px;
    font-weight: 700;
    color: #666;
    margin-left: 10px;
    text-align: center;
}

.sign .loginWrap .loginImg .loginBord #login-dy p {
    display: block;
    width: 300px;
    margin: 30px 0 10px 0;
    font-size: 12px;
}

.sign .loginWrap .loginImg .loginBord #login-dy .loginbtn {
    width: 100%;
    height: 40px;
    background: #F8296D;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 0 30px;
    color: #fff;
    border: 0;
}

.iconAccout {
    font-size: 12px;
}

.iconAccout div {
    padding-bottom: 10px;
    padding-top: 5px;
}

.iconAccout p {
    display: block;
    width: 300px;
    height: 43px;
    margin-bottom: 15px;
}

.iconAccout p a {
    display: block;
    width: 43px;
    height: 43px;
    margin-right: 10px;
    float: left;
    text-decoration: none;
    background: url(../images/icon_light.jpg) no-repeat;
}

.iconAccout p .a2 {
    background-position: -57px 0;
}

.iconAccout p .a3 {
    background-position: -114px 0;
}

.iconAccout p .a4 {
    background-position: -169px 0;
}

.iconAccout p .a5 {
    background-position: -224px 0;
}

.iconAccout p .a6 {
    background-position: 0 -54px;
}

.iconAccout p .a7 {
    background-position: -57px -54px;
}

.iconAccout p .a9 {
    background-position: -169px -54px;
}

.iconAccout p span {
    line-height: 30px;
    position: relative;
    left: -7px;
    cursor: pointer;
    float: left;
    margin-top: 5px;
}

.iconAccout p span i {
    width: 18px;
    height: 17px;
    display: inline-block;
    position: absolute;
    right: -21px;
    top: 7px;
    background: url(../images/icon_light.jpg) no-repeat -272px 0;
}

.shadow-l {
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    left: -9px;
    background: url(../images/shadow.png) no-repeat center;
}

.shadow-r {
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    right: -1px;
    background: url(../images/shadow1.png) no-repeat center;
}


/******底部*******/

.footer {
    padding-top: 5px;
}

.footer .footer-con {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 80px;
}

.footer .footer-con .footer-copy-con {
    display: block;
    padding: 14px 0 18px;
}

.footer .footer-con .footer-copy-con a {
    text-decoration: none;
    color: #000;
    line-height: 23px;
}

.footer .footer-con .footer-copy-logo {
    width: 126px;
    height: 50px;
    float: left;
    overflow: hidden;
    display: block;
    margin: 0 4px;
    margin-right: 14px;
    border-bottom: 1px solid #d7d7d7;
    background: url(../images/footer_btm_icon.png) no-repeat;
}

.footer .footer-con .logo01 {
    cursor: default;
    margin-left: 195px;
}

.footer .footer-con .logo02 {
    background: url(../images/footer_btm_icon.png) no-repeat -126px 0;
}

.footer .footer-con .logo03 {
    background: url(../images/footer_btm_icon.png) no-repeat -252px 0;
    cursor: default;
}

.footer .footer-con .logo04 {
    background: url(../images/footer_btm_icon.png) no-repeat -378px 0;
    cursor: default;
}

.footer .footer-con .logo05 {
    background: url(../images/footer_btm_icon.png) no-repeat -504px 0;
}


/*# sourceMappingURL=login.css.map */