@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.header {
    min-width: 960px;
    background: #fff;
}

#logo {
    height: 85px;
    width: 960px;
    margin: 0 auto;
}

#logo a {
    width: 360px;
    height: 85px;
    overflow: hidden;
    float: left;
    font-size: 0;
    line-height: 0;
    color: #ed145b;
    text-decoration: none;
    background: url(../images/logo_new_v1.jpg) no-repeat top left;
}

#logo .logo-box {
    padding-top: 35px;
    float: right;
}

#logo .logo-box .top-link {
    width: 110px;
    height: 31px;
    overflow: hidden;
    margin-right: 24px;
    float: left;
}

#logo .logo-box .credit {
    background: url(../images/header_corn_new_v2.png) no-repeat 0 0;
}

#logo .logo-box .gild {
    width: 170px;
    background: url(../images/gild.png) no-repeat;
}

#logo .logo-box .lightning {
    background: 0 -64px url(../images/header_corn_new_v2.png) no-repeat;
}

.sign {
    line-height: 1.5;
}

.sign .loginWrap {
    margin-top: 120px;
    margin-bottom: 70px;
    height: 460px;
    margin: 100px auto;
    width: 965px;
    line-height: 1.5;
}

.sign .loginWrap .loginPic {
    background: url(../images/signPic.jpg) no-repeat;
    width: 960px;
    height: 370px;
    position: relative;
}

.sign .loginWrap .loginPic .sign-link {
    display: block;
    position: absolute;
    width: 420px;
    height: 370px;
}

.sign .loginWrap .loginPic .loginBord {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    border: 1px solid #ededed;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    min-height: 400px;
    padding: 0 23px;
    width: 310px;
    color: #333;
    top: -60px;
    right: 0;
}

.sign .loginWrap .loginPic .loginBord .loginTit {
    margin-bottom: 15px;
    height: 60px;
    line-height: 60px;
}

.sign .loginWrap .loginPic .loginBord .loginTit h1 {
    float: left;
    font-weight: 400;
    font-size: 20px;
    color: #e31256;
}

.sign .loginWrap .loginPic .loginBord .loginTit .tosign {
    color: #969696;
    float: right;
    font-size: 12px;
}

.sign .loginWrap .loginPic .loginBord .loginTit .tosign a {
    color: #ed145b;
    text-decoration: none;
}


/*******注册框*******/

.line {
    height: 44px;
    margin-bottom: 28px;
}

.line input {
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    line-height: 1.5;
    font-size: 14px;
    outline: 0;
    height: auto;
    width: 284px;
}

.line .verify input {
    width: 138px;
    float: left;
    margin-right: 16px;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    line-height: 1.5;
    font-size: 14px;
    outline: 0;
}

.line .phonecode {
    float: left;
    width: 112px;
    font-size: 12px;
    border: 1px solid #d9d9d9;
    text-decoration: none;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    line-height: 41px;
    height: 41px;
    font-weight: 700;
    color: #666;
    text-align: center;
    background: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
}

.btn {
    display: block;
    width: 100%;
    height: 40px;
    font-family: inherit;
    word-break: keep-all;
    background: #F8296D;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 0 30px;
    overflow: hidden;
    color: #fff;
    border: 0;
}

.viewProtocol {
    color: #000;
    text-decoration: none;
}

.shadow-l {
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    left: -9px;
    background: url(../images/shadow.png) no-repeat center;
}

.shadow-r {
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    right: -1px;
    background: url(../images/shadow1.png) no-repeat center;
}

.footer {
    padding-top: 5px;
}

.footer .footer-con {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 80px;
}

.footer .footer-con .footer-copy-con {
    display: block;
    padding: 14px 0 18px;
}

.footer .footer-con .footer-copy-con a {
    text-decoration: none;
    color: #000;
    line-height: 23px;
}

.footer .footer-con .footer-copy-logo {
    width: 126px;
    height: 50px;
    float: left;
    overflow: hidden;
    display: block;
    margin: 0 4px;
    margin-right: 14px;
    border-bottom: 1px solid #d7d7d7;
    background: url(../images/footer_btm_icon.png) no-repeat;
}

.footer .footer-con .logo01 {
    cursor: default;
    margin-left: 195px;
}

.footer .footer-con .logo02 {
    background: url(../images/footer_btm_icon.png) no-repeat -126px 0;
}

.footer .footer-con .logo03 {
    background: url(../images/footer_btm_icon.png) no-repeat -252px 0;
    cursor: default;
}

.footer .footer-con .logo04 {
    background: url(../images/footer_btm_icon.png) no-repeat -378px 0;
    cursor: default;
}

.footer .footer-con .logo05 {
    background: url(../images/footer_btm_icon.png) no-repeat -504px 0;
}


/*# sourceMappingURL=reg.css.map */